.button_container {
	text-align: center;
}

.buttons {
	display: inline-block;
}

.productcell {
	
}

.productpanel {
	padding: 3px;
}

.productinfo {
	text-align: center;
}

.checkbox {
	text-align: right;
}

.dynamic_input_group {
	padding: 3px;
}